<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng điều khiển Chủ Trọ</title>
</head>
<body>
    <h1>Hello, đây là trang cho chủ trọ</h1>
    <p>
        Bạn thấy được trang này vì bạn là Role 2 (Chủ trọ).
    </p>
    <p>
        Người dùng Role 1 (Admin) và Role 3 (Khách hàng) sẽ bị cấm (403 Forbidden).
    </p>
    <hr>
    <form method="post" action="{% url 'logout' %}" style="display:inline;">
      {% csrf_token %}
      <button type="submit" style="background:none;border:none;color:#2563eb;cursor:pointer;">
          Đăng xuất
      </button>
    </form>
    <a href="{% url 'tai_khoan:quan_ly_tai_khoan' %}" 
        class="flex items-center space-x-3 rounded-lg p-3 font-medium transition-colors
          {% if request.resolver_match.url_name == 'quan_ly_tai_khoan' or request.resolver_match.url_name == 'doi_mat_khau' %}
              bg-highlight text-button-text
          {% else %}
              text-paragraph hover:bg-gray-100
          {% endif %}">
    <span>Quản lý tài khoản</span>
</a>
</body>
</html>